<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      style="height: 100%;">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${title} ?: 'TeamManager'">TeamManager</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-PCsY2cCstxGFGr2PzefRg2fzGEylh4G6dkprdFM5lTyBC0bY4Z1cdq9VHtV6fRvK" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- Шапка -->
<header>
  <div th:replace="fragments/header :: header"></div>
</header>

<!-- Основной контент (займёт всё доступное пространство) -->
<main layout:fragment="content"></main>

<!-- Подвал (прижат к низу) -->
<footer>
  <div th:replace="fragments/footer :: footer"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-PkRkNvztNFVQVw1Gc7YCOUMIqFZRMVAb9YSEvum33jjXNMTvEihQ/HUkNzxaz2Ys"
        crossorigin="anonymous"></script>

</body>
</html>
