<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Перенаправление</title>
    <meta http-equiv="refresh" th:content="'0;url=' + ${botLink}" />
</head>
<body>
<div layout:fragment="content">
    <p>Если перенаправление не началось, нажмите
        <a th:href="${botLink}" id="tgLink">эту ссылку</a>.</p>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.location.replace("[[${botLink}]]");
    /*]]>*/
</script>
</body>
</html>
